*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7f4ea;
    font-family: 'bantayog', cursive;
    font-size: 20px;
}
.titulo img {
    display: block;
    margin: 0 auto;
}
nav {
    font-size: 27px;
    background-color: #75c9c8;
    overflow: hidden;
    scroll-behavior: auto;
}
nav ul {
    list-style: none;
    position: relative;
    margin: 10px auto;
    left: 310px;  
}
nav ul li {
    float: left;
    margin: 10px;
}
ul > a {
    text-decoration: none;
    color: #f2f2f2;
}
.btn {
    text-decoration: none;
    color: #f2f2f2;
}
.btn:hover {
    text-decoration: underline;
    background-color: #ded9e2;
}
.btn-apastelero {
    display: inline-block;
    text-decoration: none;
    width: 200px;
    text-align: center;
    background-color: #80A1D4;
}
footer {
    background-color: #ded9e2;
    font-size: small;
}
footer p{
    color: #fff;
    text-align: center;
    /* margin: 10px; */
    padding: 5px;
}